<p *ngIf="!horse">Loading horse...</p>
<div *ngIf="horse">
  <h2>Details for {{ horse.name }}</h2>
  
  <p>
    {{ horse | json }}
  </p>

  <div *ngIf="!deleted">

    <app-horse-form [formType]="FORMTYPE" [horse]="horse" (submitPressed)="(null)"></app-horse-form>

    <div class="button-block">
      <button class="edit-button redirect-button" routerLink="/edit/{{ horse.id }}">Edit</button>
      <button class="delete-button redirect-button" (click)="deleteHorse(horse.id)">Delete</button>
    </div>

  </div>

  <div class="button-block">
    <button *ngIf="horse.mother && !deleted" class="detail-button" routerLink="/detail/{{ horse.mother.id }}">
      Mother Details ({{ horse.mother.name }})
    </button>
    <button *ngIf="horse.father && !deleted" class="detail-button" routerLink="/detail/{{ horse.father.id }}">
      Father Details ({{ horse.father.name }})
    </button>
  </div>

  <div *ngIf="deleted">
    <p class="alert alert-success">Successfully deleted {{ horse.name }}!</p>
  </div>

</div>

<div class="button-block">
  <button routerLink="/horses">&#x21E6;Back to main page</button>
</div>