// from https://angular.io/guide/forms
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

// // .
.sexes-radio {
//   // font-size: 2em;
  display: inline;
//   // background-color: #42a948;
//   // appearance: button;
//   padding: 0.2em 2em;
//   font-size: 1.25em;
}

.radio-toolbar input {
  display: none;
}

.radio-toolbar {

  // display: inline;
}
.radio-toolbar .sexes-label {
  background-color: #ddd;
  padding: 0.2em;
  margin: 0.5em;
  font-size: 1.25em;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}