<p *ngIf="!horse">loading horse...</p>
<form #horseForm="ngForm" *ngIf="horse">
  <fieldset [disabled]="formType === 'detail'">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" [required]="formType !== 'search'" [(ngModel)]="horse.name"
      name="name" #name="ngModel" />
    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
      Name is required
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" [(ngModel)]="horse.description" name="description" />
    </div>

    <div class="form-group">
      <label for="birthdate">Birthdate{{ formType === "search" ? " (born after)" : "" }}</label>
      <input #birthdateIdentifier type="date" class="form-control" id="birthdate" name="birthdate"
        [(ngModel)]="horse.birthdate" [max]="todaysDateISO()" required />
    </div>

    <label for="sexes-form-group">Sex</label>
    <div id="sexes-form-group" class="form-group radio-toolbar">
      <div *ngFor="let sex of SEXES" class="sexes-radio">
        <input type="radio" [id]="sex + '-radio'" name="sexesradio" [value]="sex" [(ngModel)]="horse.sex" />
        <label [for]="sex + '-radio'" class="sexes-label">{{ sex | titlecase }}</label>
      </div>
    </div>

    <app-owner-combo-box [ownedHorse]="horse" [formType]="formType" [currentOwner]="horse.owner"
    (setOwnerEmitter)="setOwner($event)">
  </app-owner-combo-box>

    <fieldset id="parents-field-set" [hidden]=" formType === 'search'">
      <app-parent-combo-box parentSex="female" [childHorse]="horse" [formType]="formType" [parentObject]="horse.mother"
        (setParentEmitter)="setParent($event, 'mother')">
      </app-parent-combo-box>

      <app-parent-combo-box parentSex="male" [childHorse]="horse" [formType]="formType" [parentObject]="horse.father"
        (setParentEmitter)="setParent($event, 'father')">
      </app-parent-combo-box>

    </fieldset>

    <button type="submit" id="submit-button" class="btn btn-success" [disabled]="!horseForm.form.valid"
      (click)="submit(); horseForm.form.markAsPristine()" *ngIf="formType !== 'detail'">
      {{ SUBMIT_BUTTON_TEXT }}
    </button>

    <div *ngIf="horse && SUBMIT_SUCCESS_TEXT" [hidden]="!(submitted && horseForm.form.pristine)"
      class="alert alert-success">
      {{ SUBMIT_SUCCESS_TEXT }}
    </div>
  </fieldset>
</form>