// from https://angular.io/guide/forms
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42a948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

.sexes-radio {
  display: inline;
}

.radio-toolbar input {
  display: none;
}


.radio-toolbar .sexes-label {
  background-color: #ddd;
  padding: 0.2em;
  margin: 0.5em;
  font-size: 1.25em;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

#submit-button{
  margin: 1em;
}